body {
    margin: 0;
    font-family: 'Arial';
    padding: 0px 10px 10px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 500px;
}

code {
    font-family: Arial;
}

.app {
    background: tan;
    padding: 30px;
    height: auto;
    border-radius: 10px;
}

.todo-list {
    background: papayawhip;
    border-radius: 4px;
    padding: 5px;
    max-width: 490px;
}

.subtext {
    padding: 5px;
    color: white;
}

.heading {
    padding: 10px 10px 10px 10px;
    background-color: tan;
    border-radius: 10px;
    color: white;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    padding: 3px 3px;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
}

.todo:hover {
    cursor: pointer;
    opacity: 0.6;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    padding: 1rem;
    height: 2.25rem;
    font-size: 18px;
    opacity: 0.8;
    max-width: 500px;
}